:root {
  --ff-sans: "Barlow Semi Condensed", sans-serif;

  --fs-300: 0.81rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;

  --fw-500: 500;
  --fw-600: 600;

  --clr-purple-50: hsl(260, 100%, 95%);
  --clr-purple-300: hsl(264, 82%, 80%);
  --clr-purple-500: hsl(263, 55%, 52%);

  --clr-grey-100: hsl(214, 17%, 92%);
  --clr-grey-200: hsl(0, 0%, 81%);
  --clr-grey-400: hsl(224, 10%, 45%);
  --clr-grey-500: hsl(217, 19%, 35%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-dark-blue: hsl(219, 29%, 14%);

  --br: 0.5rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  background-color: var(--clr-grey-100);
  color: var(--clr-white);
}
main {
  margin-block: min(5rem, 10vw);
}
/* Utility classes */

.container {
  max-width: 75rem;
  margin-inline: 5vw;
}
.flow-content--sm > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flow-content > * + * {
  margin-top: var(--flow-space, 2rem);
}

.flow-content--large > * + * {
  margin-top: var(--flow-space, 5rem);
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
  justify-content: center;
  align-content: center;
}

.f-color-dark {
  color: var(--clr-Black);
}
.f-color-white {
  color: var(--clr-white);
}
.f-color-grey-500 {
  color: var(--clr-grey-500);
}
.f-color-grey-400 {
  color: var(--clr-grey-400);
}
.f-color-grey-200 {
  color: var(--clr-grey-200);
}
.f-color-grey-100 {
  color: var(--clr-grey-100);
}

/* testimonials section  */

.testimonials-grid {
  gap: 2rem;
}

.testimonial-card {
  border-radius: var(--br);
  padding: 2rem 1.5rem;
  box-shadow: 0 8.5px 17px -6.22px hsl(213.42, 46.75%, 66.86%, 0.5);
}
.testimonial-card:nth-of-type(1) {
  background-color: var(--clr-purple-500);
}
.testimonial-card:nth-of-type(2) {
  background-color: var(--clr-grey-500);
}
.testimonial-card:nth-of-type(3) {
  background-color: var(--clr-white);
}
.testimonial-card:nth-of-type(4) {
  background-color: var(--clr-dark-blue);
}
.testimonial-card:nth-of-type(5) {
  background-color: var(--clr-white);
}
.testimonial-title {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
}
.author-name {
  font-weight: var(--fw-600);
  margin-block-end: 0.1rem;
}
.testimonial-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.image-container {
  max-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-card img.author-avatar {
  border-radius: 50%;
}
.testimonial-card:nth-of-type(1) img.author-avatar {
  border: 0.13rem solid var(--clr-purple-300);
}
.testimonial-card:nth-of-type(4) img.author-avatar {
  border: 0.13rem solid var(--clr-purple-500);
}
.testimonial-card:nth-of-type(1) {
  position: relative;
}
.svg-image {
  position: absolute;
  top: 0;
  right: 10%;
  opacity: 0.8;
}

/* Media queries  */

@media screen and (min-width: 50rem) {
  .testimonials-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .testimonial-card:nth-of-type(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .testimonial-card:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .testimonial-card:nth-of-type(4) {
    grid-column: 2 / span 2;
    grid-row: 2;
  }
  .testimonial-card:nth-of-type(5) {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}
@media screen and (min-width: 82.5rem) {
  .container {
    margin-inline: auto;
  }
}
